$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$verde:#67b54b;
$gris-claro:#4a4a4a;

$font-title: "Alegreya", serif;

%base-title{
    font-family: $font-title;
    color: $dark-green-title;
    font-weight: 900;

}
